In [ ]:
Problem 1: String Manipulation

In [11]:
user_input = list(input("Enter the string"))
print("Initially :", user_input)
if 't' in user_input:
    user_input.remove('t')
if 'h' in user_input:
    user_input.remove('h')
print("After removing t and h :", user_input)
user_input.reverse()
result = ''.join(user_input)
print("Reversed Result :", result)

Enter the stringpython
Initially : ['p', 'y', 't', 'h', 'o', 'n']
After removing t and h : ['p', 'y', 'o', 'n']
Reversed Result : noyp

In [ ]:
 List Manipulation

In [ ]:
a=float(input("1st Number"))
b=float(input("2nd Number"))
print("Addition:", a+b)
print("Subtraction:", a-b)
print("Multiplication:",a*b)
print("Division:", a/b)

1st Number21
2nd Number24
Addition: 45.0
Subtraction: -3.0
Multiplication: 504.0
Division: 0.875

task 2

In [ ]:
str1 = input("Input a  sentence: ")
modified_sentence= str1.replace('python', 'pythons')
print("Modified sentence:", modified_sentence)

Input a  sentence: python makes life easier
Modified sentence: pythons makes life easier

task 3

In [ ]:
score = float(input("Enter the marks : "))
if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = 'C'
elif 60 <= score < 70:
    grade = 'D'
elif 0 <= score < 60:
    grade = 'F'
else:
    grade = 'Invalid score'

print("Your grade is:", grade)

Enter the marks : 95
Your grade is: A